.extract {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title{
    height: 0.5em;
    
   
}

mat-nav-list {
    width: 100%;
    margin: 1em -1.5em;
}
